/*=======GLOBAL=======*/
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1020px;
  width: 100%;
}
