/*=======GLOBAL=======*/
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1020px;
  width: 100%;
}

.title {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.2px;
  color: #16171D;
}

.section-title {
  margin-bottom: 40px;
  border-bottom: #91a8b4 3px solid;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  align-items: center;
  letter-spacing: -0.7px;
  color: #16171D;
}

.block-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.7px;
  color: #16171D;
}

.link {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  letter-spacing: -0.2px;
  color: #16171D;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.link:hover {
  color: #5a37ad;
  border-bottom: #5a37ad 2px solid;
}

/*=======HEADER======*/
header {
  background: #91a8b4;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu__item {
  margin-left: 20px;
}

.menu__link {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  letter-spacing: -0.2px;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
  border-bottom: #fff 2px solid;
}

/*=======ABOUT ME======*/
.about-me {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo {
  width: 168px;
  height: 168px;
  border-radius: 5px;
  overflow: hidden;
}

.self-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 688px;
}

.self-info__name {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #16171D;
  margin-bottom: 4px;
}

.self-info__profession {
  background-color: #16171D;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  padding: 2px 16px 2px 16px;
  margin-bottom: 24px;
  border-radius: 3px;
}

.self-info__description {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #16171D;
}
